<form [formGroup]="dataForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="name">Nome</label>
        <br>
        <input type="text" id="name" required formControlName="name"/>
    </div>
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <div *ngIf="name?.errors?.['required']">O nome é obrigatório.</div>
        <div *ngIf="name?.errors?.['minlength']">O nome precisa ter 2 letras.</div>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email</label>
        <br>
        <input type="text" id="email" required formControlName="email"/>
    </div>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.['required']">O email é obrigatório.</div>
        <div *ngIf="email?.errors?.['minlength']">O nome precisa ter 4 letras.</div>
    </div>
    <br>
    <div class="form-group">
        <label for="tel">Telefone</label>
        <br>
        <input type="text" id="tel" required formControlName="tel"/>
    </div>
    <div *ngIf="tel?.invalid && (tel?.dirty || tel?.touched)">
        <div *ngIf="tel?.errors?.['required']">O telefone é obrigatório.</div>
        <div *ngIf="tel?.errors?.['minlength']">O telefone precisa ter 8 elementos.</div>
    </div>
    <br>
    <button class="btn btn-dark" [disabled]="!dataForm.valid" type="submit">Enviar Pedido</button>
</form>

<!--
<div class="mb-3 row">
    <div>
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" type="button">Login</button>
        <button class="btn btn-outline-secondary" type="button">Cadastre-se</button>
      </div>
</div>
-->